body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(130, 151, 175);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm {
    margin: 20px;
}
.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 30px;
    border:none;
    margin: 10px;
    width: 300px;
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background: #d56543;
    color: #e7e7e7;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
button[type="submit"]:hover {
    color: white;
}
.card {
    background: linear-gradient(180deg, #43A1D5, #D5B048);
    padding:50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p {
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
}
.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji {
    margin:0;
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.4rem;
    font-weight: bold;
    color: #ffffffbe;
}

/*FOR RETURN BUTTON*/

.return {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 0 10px;
    
}
.return a {
    background-color: #d56543;
    padding: 10px 30px;;
    border-radius: 30px;
    
   position: relative; 
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   color: #e7e7e7;
   letter-spacing: 0.5px;
   font-weight: bold;
   cursor: pointer;

}

.return a:hover{
    color: #ffffff;
    background-color: #e04e2a;
}
.return a:hover::after {
    width: 100%;
}


